---
import '@/styles/globals.css'
import Layout from '../../layouts/Layout.astro';
import WorkTimeReporting from '@/components/admin/WorkTimeReporting';
---

<Layout title="TimeTrack - Work Time Reports">
	<main class="min-h-screen bg-slate-50 dark:bg-slate-900">
		<WorkTimeReporting client:load />
	</main>
</Layout>